.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--bg-shadow-overlay);
}

.container {
    z-index: 100;
    width: 60%;
    height: 90%;
    border-radius: 3rem;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: auto;
}

.top {
    display: flex;
    justify-content: flex-end;
    margin-left: -5rem;
    margin-top: 2rem;
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
}

.bottom {
    height: 5%;
    display: flex;
    align-items: flex-end;
    margin-top: 1rem;
}

.splash {
    width: 20rem;
}

.button {
    color: var(--font-color-primary);
    background-color: inherit;
    border: none;
    border-radius: 5px;
    font-size: 2.3rem;
    margin: -1.5rem;
    margin-bottom: 2rem;
}

.button:hover {
    cursor: pointer;
}

.title {
    font-size: 2rem;
    margin: 1rem;
    margin-bottom: 0rem;
}

.description {
    font-size: 1.2rem;
    margin-top: 2rem;
}

.link {
    color: var(--font-color-play-button);
    text-decoration: none;
    font-size: 2rem;
    background-color: transparent;
    border: 2px solid var(--font-color-play-button);
    border-radius: 5px;
    padding: 0.2rem;
}

.genreContainer {
   padding-top: 0.5rem;
}

.genre {
    margin: 0.2rem;
    border-radius: 5px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background: var(--bg-color-genre);
}


@media (max-width: 759px) {
    .container {
        width: 85%;
        padding-bottom: 2rem;
    }
}