.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: -2.5rem;
}

.title {
    color: var(--font-color-title);
    font-size: 3rem;
    margin-left: -3rem;
    margin-top: -3rem;
    font-family: "Pirata"
}

.logo {
    width: 15rem;
    margin-top: -3rem;
}