@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Regular.ttf");
}

:root {

}

* {
	margin: 0;
}

input,
button,
textarea,
select {
	font: inherit;
}

html,
body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
}