.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -11rem;
}

.input {
    width: 24.5rem;
    height: 3rem;
    border-radius: 20px;
    text-align: center;
    font-size: 2rem;
    background-color: var(--bg-color-input);
    color: var(--font-color-input);
}

.viewSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-275px);
    padding-bottom: 5rem;
    min-height: 80vh;
}

.viewSection > div{
    width: min(80%, 20rem);
    height: 30rem;
}

.logo {
    width: 15rem;
    margin-top: -3rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 5rem;
}

.footerLogo {
    height: 0.8rem;
    margin: auto 0.2rem;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: -2.5rem;
}

.title {
    color: var(--font-color-title);
    font-size: 3rem;
    margin-left: -3rem;
    margin-top: -3rem;
    font-family: "Pirata"
}

.splash {
    margin-bottom: -5rem;
    visibility: hidden;
    z-index: 2;
}

.label {
    font-size: 1.5rem;
    font-family: "Pirata";
}

@media (min-width: 959px) {
    .viewSection { 
        flex-direction: row;
        flex-wrap: wrap;
    }
}